# Python
__pycache__
.pytest_cache
*.pyc

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Operating Systems
.DS_Store

# IDEs
.idea
*.swp
.vscode

# Ignored Reports
reports/.coverage
reports/coverage.xml
